<app-loading *ngIf="isLoading$ | async"></app-loading>
<app-error-message *ngIf="error$ | async" [errorMessage]="error$ | async"></app-error-message>

<div *ngIf="feed$ | async">
  <div *ngIf="!(feed$ | async).articles.length">No articles are here... yet.</div>
  <div class="article-preview" *ngFor="let article of (feed$ | async).articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]"><img [src]="article.author.image" /></a>
      <div class="info">
        <a class="author" [routerLink]="['/profiles', article.author.username]"> {{ article.author.username }}</a
        ><span class="date">{{ article.createdAt | date : "MMMM d yyyy, h:mm" }}</span>
      </div>
      <app-add-to-favorites
        class="pull-xs-right"
        [isFavorited]="article.favorited"
        [favoritesCount]="article.favoritesCount"
        [articleSlug]="article.slug"
      ></app-add-to-favorites>
    </div>
    <a class="preview-link" [routerLink]="['/articles', article.slug]">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <app-tag-list [tags]="article.tagList"></app-tag-list>
    </a>
  </div>
  <app-pagination
    [total]="(feed$ | async).articlesCount"
    [limit]="limit"
    [url]="baseUrl"
    [currentPage]="currentPage"
  ></app-pagination>
</div>
